<div class='container my-5'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      <div class='card bg-light'>
        <div class='card-header'>
          <small class='float-right'>
            <%= render "users/shared/links" %>
          </small>
          <h3 class='cart-title'><%= heading %></h3>
        </div>
        <div class='card-body mt-2'>
          <% unless controller_name == 'passwords' %>
            <div class="form-group">
              <%= render 'users/shared/sso_buttons', text: 'Sign in' %>
            </div>
            <p class="divider-text">
              <span class="bg-light">Or</span>
            </p>
          <% end %>
          <%= form_for(resource, as: resource_name, url: url, method: method) do |f| %>
            <% if controller_name == 'passwords' %>
              <%= f.hidden_field :reset_password_token %>
            <% end %>

            <%= render "users/shared/error_messages", resource: resource %>

            <% if controller_name == 'sessions' %>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <%= icon 'fa', 'sign-in-alt' %>
                  </span>
                </div>
                <%= f.text_field :login, autocomplete: 'username',
                   placeholder: 'Email or username', required: true, class: 'form-control' %>
              </div>
            <% end %>

            <% if (controller_name == 'passwords' && action_name == 'edit') ||
              controller_name == 'registrations' || controller_name == 'sessions' %>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <%= icon 'fa', 'key' %>
                  </span>
                </div>
                <%= f.password_field :password, autocomplete: "password",
                  placeholder: 'Password', required: true, class: 'form-control' %>
              </div>

              <% unless controller_name == 'sessions' %>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <%= icon 'fa', 'lock' %>
                    </span>
                  </div>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",
                    placeholder: 'Repeat password', required: true, class: 'form-control' %>
                </div>
              <% end %>
            <% end %>

            <% if controller_name == 'registrations' %>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <%= icon 'fa', 'user' %>
                  </span>
                </div>
                <%= f.text_field :username, autocomplete: 'username',
                   placeholder: 'Username', required: true, class: 'form-control' %>
              </div>
            <% end %>

            <% if (controller_name == 'passwords' && action_name == 'new') || controller_name == 'registrations'  %>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <%= icon 'fa', 'envelope' %>
                  </span>
                </div>
                <%= f.email_field :email, autocomplete: "email",
                  placeholder: 'Email', required: true, class: 'form-control' %>
              </div>
            <% end %>
            <hr>
            <div class="form-group">
              <%= f.submit submit_text, class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
