<div id="userId-<%= user.id %>" class='card flex-fill rounded-0 bg-light'>
  <div class='card-header border-0 text-center'>
    <%= link_to user.username, user, class: 'h5 nav-link text-secondary font-weight-bold card-title p-0 m-0' %>
  </div>
  <div class='card-body mx-auto'>
    <%= avatar_for(user, 300) %>
  </div>
  <div class='card-footer border-0 pt-0'>
    <h5 class='card-title text-center'>
      <span class='col badge badge-secondary'><%= user.email %></span>
    </h5>
    <% if current_user == user %>
      <%= link_to 'Edit profile', edit_user_path(current_user), class: 'btn btn-block btn-info mt-1' %>
    <% else %>
      <% if current_user.friends.include? user %>
        <%= link_to 'Unfriend', unfriend_path(user), method: :delete, class: 'btn btn-block btn-danger mt-1' %>
      <% elsif current_user.received_friend_requests.pending.pluck(:sender_id).exclude? user.id %>
        <%= link_to 'Send a friend request', send_friend_request_path(user), class: 'btn btn-block btn-primary mt-1' %>
      <% end %>
    <% end %>
  </div>
</div>
