<div id='post-<%= post.id%>' class='card my-4 bg-light rounded-0'>
  <div class='card-header border-0'>
    <%= link_to post.author, class: 'd-inline nav-link text-muted font-weight-bold' do %>
      <%= avatar_for post.author, 40 %>
      <span><%= post.author.username %></span>
    <% end %>
    <% if current_user == post.author %>
      <div class='btn-toolbar float-right'>
        <button class='btn shadow-none py-0 px-2' data-toggle="modal" data-target="#edit_post<%= post.id %>" title="Edit post">
          <%= icon 'fa', 'edit', class: 'text-muted' %>
        </button>
        <%= render 'posts/post_form_modal', post: post, type: "edit_post"%>
        <%= link_to post, method: :delete, class: 'btn shadow-none py-0 px-2', title: 'Delete post' do %>
          <%= icon 'fa', 'trash', class: 'text-muted' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='card-body pb-0'>
    <p class='card-text'>
      <%= post.content %>
    </p>
  </div>
  <% if post.images.attached? %>
    <%= render 'images/image_carousel', post: post %>
  <% end %>
  <div class='card-footer bg-light border-0' data-controller='post-footer' data-post-footer-post-id=<%= post.id %>>
    <button class="btn shadow-none text-secondary p-0<%= ' text-warning' if current_user.liked_posts.include? post %>" data-action='click->post-footer#like' data-target='post-footer.likeBtn' title='Like/unlike'>
      <%= icon 'fa', 'thumbs-up' %>
      <span data-target='post-footer.likeCounter'><%= post.likes.count %></span>
    </button>
    <button class='btn shadow-none text-secondary float-right p-0' data-action='click->post-footer#comment' data-target='post-footer.commentBtn' title='Comment'>
      <%= icon 'fa', 'comment' %>
      <span>Comment</span>
    </button>
    <div class='mt-2 d-none' data-target='post-footer.formWithComments'>
      <%= render 'comments/comment_form', submit: 'Comment', comment: @comment = current_user.comments.build(post: post) %>
      <ul class='list-group'>
        <%= render 'comments/comment', comment: @comment, visible: false %>
        <%= render post.comments.recent_comments, visible: true %>
      </ul>
    </div>
  </div>
</div>
