<nav data-controller='fixed-topbar' data-action='scroll@window->fixed-topbar#manageScroll' class='navbar navbar-expand-sm fixed-top navbar-light bg-light py-0'>
  <%= link_to root_path, class: 'navbar-brand m-0' do %>
    <%= image_tag 'odin-logo.svg', size: 50 %>
  <% end %>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class='nav-item col px-2'>
      <%= render 'layouts/search', url: seek_path %>
    </div>
    <div class='row align-items-center'>
      <div class='nav-item col pr-0'>
        <%= link_to current_user, class: "nav-link pl-0" do %>
          <%= avatar_for(current_user, 30) %>
          <span class='text-warning'><%= current_user.username %></span>
        <% end %>
      </div>
      <div class="nav-item">
        <button class='btn shadow-none text-warning pr-0' data-toggle="modal" data-target="#create_post">
          <span class="icon-holder">
            <%= icon 'fa', 'pen' %>
          </span>
        </button>
      </div>
      <div class="nav-item">
        <div class='dropdown'>
          <div class='btn text-warning' data-toggle='dropdown'>
            <span class='icon-holder'>
              <%= icon 'fa', 'user-plus' %>
            </span>
            <small class='text-danger font-weight-bold float-left'>
              <% if current_user.received_friend_requests.pending.present? %>
                <span class='mr-1'>
                  <%= current_user.received_friend_requests.pending.size %>
                </span>
              <% end %>
            </small>
          </div>
          <div class="dropdown-menu dropdown-menu-right position-absolute">
            <div class="dropdown-item text-center">
              <%= link_to 'All friends', friends_path, class: 'nav-link text-warning' %>
            </div>
            <% if current_user.received_friend_requests.pending.present? %>
              <div class="dropdown-divider"></div>
              <% current_user.received_friend_requests.pending.each do |friend_request| %>
                <div class="dropdown-item text-center">
                  <div class='col'>
                    <%= link_to friend_request.sender.username, friend_request.sender, class: 'nav-link text-info' %>
                  </div>
                  <div class='col btn-group'>
                    <%= link_to accepted_path(friend_request), class: 'btn btn-sm btn-block btn-outline-success m-0' do %>
                      <span class='icon-holder'>
                        <%= icon 'fa', 'check' %>
                      </span>
                    <% end %>
                    <%= link_to friend_request, method: :delete, class: 'btn btn-sm btn-block btn-outline-danger m-0' do %>
                      <span class='icon-holder'>
                        <%= icon 'fa', 'times' %>
                      </span>
                    <% end %>
                  </div>
                  <div class="dropdown-divider"></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn text-danger' do %>
          <span class="h5 icon-holder">
            <%= icon 'fa', 'sign-out-alt' %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<%= render 'posts/post_form_modal', post: current_user.posts.build, type: 'create_post' %>
