<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/topbar' %>
    <% end %>
    
    <div class='container-fluid'>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
