<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes'>
    <style type="text/css">
    @media only screen and (max-width: 800px) {}
    </style>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/topbar' %>
    <% end %>
    <div class='container-fluid p-0'>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
