<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  </head>
  <body>
    <% if user_signed_in? %>
      <header>
        <%= render 'layouts/topbar' %>
      </header>
    <% end %>
    <main role='main' class='container col-lg-5 col-md-8 mx-auto px-0 pt-5 mt-3'>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
